html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  min-height: 100%;
}

.all {
  background-color: #002F39;
  height: 100%;
  padding-bottom: 3.125rem;
}


/*##### HELPERS #####*/

.container {
  margin: 0 auto;
  max-width: 576px;
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}

/*##### HEADER #####*/

.header {
  padding: 1.875rem 0;
}
.header__title {
  color: #ffffff;
  font-size: 2rem;
  line-height: 100%;
  margin: 0;
}

/*##### CARD #####*/

.card {
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  margin: 0 0 1.25rem;
  overflow: hidden;
}
.card:last-child {
  margin-bottom: 0;
}
.card--shadow-light {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

/*##### CARD HEADER #####*/

.card__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.625rem;
}

/*##### CARD TITLE #####*/

.card__title {
  color: #002F39;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 100%;
  margin: 0;
}
.card__title--margin-bottom {
  margin: 0 0 0.625rem;
}
.card__title--flex100 {
  flex: 1 0 100%;
}
.card__title--sm {
  font-size: 1.125rem;
}
.card__title--normal {
  font-weight: normal;
}

/*##### CARD TYPE #####*/

.card__type {
  align-items: center;
  display: flex;
}
.card__type label {
  color: #6A6969;
  font-size: 1rem;
  margin: 0 0.3125rem 0 0;
}
.card__type select {
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  color: #6A6969;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3125rem 0.625rem;
  outline: none;
}

/*##### CARD CONTENT #####*/

.card__content {
  background-color: #D7EBEF;
  border-bottom: 1px solid #A4B7BB;
  border-top: 1px solid #A4B7BB;
  padding: 1.25rem;
}

/*##### CARD ITEM #####*/

.card__item {
  display: flex;
  border-bottom: 1px solid #A4B7BB;
  border-top: 1px solid #A4B7BB;
  justify-content: space-between;
  margin-bottom: -1px;
  padding: 0.625rem;
}

/*##### CARD FOOTER #####*/

.card__footer {
  display: flex;
  padding: 0.625rem;
}
.card__footer--center {
  justify-content: center;
}

/*##### BUTTON #####*/

.button {
  background-color: #002F39;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  padding: 0.625rem 1.5rem;
  cursor: pointer;
}
.button:hover {
  background-color: #054f5f;
}

/*##### ACTIONS #####*/

.actions {
  display: flex;
  align-items: center;
}

/*##### ACTIONS ITEM #####*/

.actions__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 0.5rem;
}
.actions__item:hover .actions__item-text {
  display: block;
}
.actions__item:first-child { margin-left: 0; }
.actions__item:last-child { margin-right: 0; }
.actions__item-text {
  color: #707070;
  font-size: 0.875rem;
  margin: 0 0.25rem;
  display: none;
}
.actions__item-text--visible {
  display: block;
}
.actions__item-text--blue {
  color: #002F39;
}
.actions__item-icon {
  height: 1rem;
  fill: #707070;
  margin: 0 0.25rem;
  width: 1rem;
}
.actions__item-icon--blue {
  fill: #002F39;
}
.actions__item *:first-child { margin-left: 0; }
.actions__item *:last-child { margin-right: 0; }

/*##### INPUT #####*/

.input {
  background-color: #D7EBEF;
  border: 1px solid #707070;
  border-radius: 4px;
  transition: all 0.5ms;
  outline: none;
}
.input:read-only {
  background-color: transparent;
  border: 1px solid #ffffff;
}
